.main {
  height: 94%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #ffe0ec, #f9f1ff);
  font-family: 'Segoe UI', sans-serif;
}

.card {
  background: white;
  padding: 2.5rem 2.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-width: 300px;
  margin: 2rem 1rem;
  .tagline {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    padding-bottom: 14px;
    text-align: center;
    line-height: 1.4;

    .highlight {
      color: #ff477e;
      font-weight: 600;
      font-style: italic;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }
  }

  // .subtext {
  //   font-size: 0.95rem;
  //   color: #444;
  //   margin-bottom: 16px;
  //   text-align: center;
  // }
}

.heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #333;
}

.label {
  font-weight: 500;
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}

.radioGroup {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 1rem 0 2rem;

  label {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
    font-weight: 500;
    color: #333;
  }

  input[type='radio'] {
    accent-color: #e670b5;
  }
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0 2rem;

  .button {
    background: #e670b5;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.8rem 2rem;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: #d2569d;
      transform: translateY(-1px);
    }
  }
}

@media (max-width: 768px) {
  .buttons {
    display: grid;
  }
}
